<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elon.mapper.RoleMenuLinkMapper">

    <sql id="baseColumn">
        id,role_id,menu_link_id,add_time
    </sql>

    <select id="selectAll" resultType="com.elon.entity.RoleMenuLink">
        SELECT
        <include refid="baseColumn"/>
        FROM role_menu_link
    </select>

    <select id="selectByRoleId" parameterType="java.lang.Integer" resultType="com.elon.entity.RoleMenuLink">
        SELECT
        <include refid="baseColumn"/>
        FROM role_menu_link WHERE role_id = #{roleId}
    </select>

</mapper>