<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elon.mapper.ShopperRoleMapper">

    <sql id="baseColumn">
        id,shopper_nick_name,role_id,add_time
    </sql>

    <select id="selectAll" resultType="com.elon.entity.ShopperRole">
        SELECT
        <include refid="baseColumn"/>
        FROM shopper_role
    </select>

    <select id="selectByShopperNickName" parameterType="java.lang.String" resultType="com.elon.entity.ShopperRole">
        SELECT
        <include refid="baseColumn"/>
        FROM shopper_role WHERE shopper_nick_name = #{shopperNickName}
    </select>

</mapper>